repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-docstring-first
  - id: check-yaml
  - id: debug-statements
  - id: check-ast
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: "v0.3.5"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
