name: pytest

on:
  pull_request:
  push:
    branches: [master, dev]

jobs:
  pytest:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U \
          matplotlib \
          scipy \
          rectpack \
          klayout \
          freetype-py \
          pytest
        pip install -e .
    - name: Run test
      uses: GabrielBB/xvfb-action@v1
      with:
        run: |
          pytest
